@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family: 'Gotu', sans-serif;
}

p{
    font-family: 'Gotu', sans-serif;;
}

.answers{
    font-family: 'Gotu', sans-serif;
    margin-left: 30px; 
}

.question{
    font-family: 'Gotu', sans-serif;
    font-size: 30px;
    padding: 20px;
    
}

#votes_col_div{
    position: relative;
    
}

#votes_div{
    position: absolute;
    text-align: left;
    font-size: 30px;
    right: 30px;
    
}

#header{
    position: relative;
}

.ask_question_span{
    position: absolute;
    right: 50px;
    bottom: 20px;
}

.login_div{
    position: absolute;
    width: 300px;
    left: 500px;
}

.register_div{
    position: absolute;
    width: 600px;
    left: 250px;
    padding-bottom: 200px;
}