@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-family: 'Gotu', sans-serif;
}

h1 > a:link{
    color: white;
    
}

h1 > a:visited{
    color: white;
    
    
}


p{
    font-family: 'Gotu', sans-serif;;
}



.question_title_h2{
    font-family: 'Gotu', sans-serif;
    font-size: 40px;
    padding: 10px 0px;
}
.question{
    font-family: 'Gotu', sans-serif;
    font-size: 20px;
    padding-left: 20px ;
    
}

#votes_col_div{
    position: relative;
    
}

#votes_div{
    position: absolute;
    text-align: left;
    font-size: 30px;
    right: 30px;
    
}

#header{
    position: relative;    
}

.head_base{
    position: absolute;
    left: 550px;
    bottom: 20px;
    padding-top: 50px;
    
    margin-top: 50px;
}

.ask_question_span{
    position: absolute;
    right: 50px;
    bottom: 35px;
}

.login_div{
    position: absolute;
    width: 300px;
    left: 500px;
}

.register_div{
    position: absolute;
    width: 600px;
    left: 250px;
    padding-bottom: 200px;
}

.password_register_div{
    width: 400px;
    
}

.question_delete_btn{
    position: absolute;
    right: 0px;
}

