{% load static %}
<head>
    <title>Forum </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/4e42425d34.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
</head>
<Body>
    <div class="container-fluid p-5 bg-dark text-white" id="header">
    <h1>My Forum</h1>
    <span class="ask_question_span">
    {% if user.is_authenticated == False %}
        <a href="{% url 'login' %}"><button class="btn btn-info">login</button></a>
    {% else %}
        <a href="{% url 'addQuestion' %}"><button class="btn btn-primary ">ask question</button></a>
    {% endif %}
    </span>
</div>

    <br>
    <br>

    {% block content%}
    {% endblock %}
</Body>