{% extends 'forum/base.html' %}

{% load crispy_forms_tags %}
{% block content %}

<div class = "container-fluid ">
    <div class = "row ">
        <div class = "col-2" id="votes_col_div">
            <div id ="votes_div">
                
                {% if user.is_authenticated and question.author != request.user %}
                    {% if status == False or status == None%}
                        <a href="{% url 'addVote' pk=question.pk %}"><span class="fas fa-caret-up"></span></a>
                    {% else%}
                        <span class="fas fa-caret-up"></span>
                    {% endif %}
                {% else %}
                <span class="fas fa-caret-up" onclick="alert('Sorry you can\'t vote beacuse either you posted the question or you are not logged in !')"></span>
                {% endif%}
                <br>
                <span id="votes">{{ question.votes_count }}<br></span>

                {% if user.is_authenticated  and question.author != request.user %}
                    {% if status == True or status == None %}
                        <a href="{% url 'subVote' pk=question.pk %}"> <span class="fas fa-caret-down"></span></a>
                    {% else %}
                    <span class="fas fa-caret-down"></span>
                    {% endif %}
                {% else %}
                <span class="fas fa-caret-down" onclick=" alert('Sorry you can\'t vote beacuse either you posted the question or you are not logged in !')"></span>
                {% endif %}
                
                <br>
            </div>
        </div>
        <div class = "col-8">
            <h2 class="question_title">{{question}}</h2>
            <p class="question">{{question.question|linebreaks}}</p>
            {% if user.is_authenticated and question.author == request.user %}
                <span class="question_delete_btn">
                    <a href="{% url 'questionDelete' pk=question.pk %}"><button class='btn btn-Danger'>Delete</button></a></span>
            {% endif %}
            
        </div>
    </div>
    <br><br>


   

    <div class = "answers">
    {% for answer in question.answer.all %}
        <b>{{answer.author}}</b>
        {{answer.answer|linebreaks}}
        {% if request.user.username == answer.author %}        
            <a href="{% url 'answerDelete' pk=answer.pk %}"><button class="btn btn-Danger btn-sm">Delete</button></a>
        {% endif %}
        <br>
    {% empty %}
        <p>No answers here yet </p>
    {% endfor %}

    </div>

</div>
 <br>
 <br>
 <br>
{% if user.is_authenticated and question.author != request.user %}
<div class = "container">
    <form method = "POST" >{% csrf_token %}
        {{ form.answer|as_crispy_field }}
        
        <button class = "btn btn-primary" type = "submit">Submit</button>
    </form>
</div>
{% elif question.author == request.user %}
<div class = "container">
    <p>You can't answer to the question you posted</p>
</div>
{% else %}
<div class = "container">
    <p>You have to logged in to answer</p>
</div>
{% endif %}
{% endblock %}