{% extends 'forum/base.html' %}

{% block content %}
<div class = "container-fluid ">
    <div class = "row ">
        <div class = "col-2" id="votes_col_div">
            <div id ="votes_div">
                <a href="{% url 'addVote' pk=question.pk %}"> <span class="fas fa-caret-up"></span><br></a>
                <span id="votes">{{ question.votes }}<br></span>
                <a href="{% url 'subVote' pk=question.pk %}"> <span class="fas fa-caret-down"></span><br></a>
            </div>
        </div>
        <div class = "col-8">
            <p class="question">{{question}}</p>
        </div>
    </div>
    <br><br>


    <p>answers for the question are</p>

    <div class = "answers">
    {% for answer in question.answer.all %}
        <b>{{answer.author}}</b>
        {{answer.answer|linebreaks}}

    {% empty %}
        <p>No answers here yet </p>
    {% endfor %}

    </div>

</div>
 <br>
 <br>
 <br>
<div class = "container">
    <form method = "POST" >{% csrf_token %}
        {{ form.answer}}
        <button class = "btn btn-primary" type = "submit">Submit</button>
    </form>
</div>
{% endblock %}